/* header {
    margin: 0px; /* Removes default margins around the header
    padding: 0px; /* Ensures no padding is applied
    display: flex; /* Flexbox for centering
    justify-content: center; /* Horizontally centers the image
    align-items: center; /* Vertically centers the image (optional if needed)
    background-color: #d1c1c1; /* Optional: background for your header
} */

/* .banner {
    margin: 0px; /* Removes default margins around the header
    padding: 0px; /* Ensures no padding is applied
    max-width: 60%; /* Restrict the image's width to 80% of the container
    height: auto; /* Maintain aspect ratio
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    padding-top: 250px;
    padding-bottom: 250px;
    background: url('gallery/background.jpg') no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay */
    background-blend-mode: overlay; /* Blend the image and overlay color */
}

h1 {
    text-align: center;
    color: #ffffff;
}

#search-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(244, 244, 244, 0.5);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#search-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#search-form button {
    width: 50%;
    margin-top: 20px;
    padding: 17px 0px;
    background-color: #c06918;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-form button:hover {
    background-color: #8d4d03;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}