/* Elimina los márgenes y el relleno de todo el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que el padding y el border no afecten el tamaño total de los elementos */
  }
  
  /* Asegúrate de que el HTML ocupe toda la pantalla */
  html, body {
    height: 100%;
    width: 100%;
  }